html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fondo {
  background-image: url("../public/image.png");
  width: 76.2.1rem;
  height: 36.5rem;
  background-position: center;
}

.maxmin{
  max-width:2000px;
  max-height: 640px;
}

.fondoContrato{
  background-image: url("../public/fondo1.jpg");
}

.centrar{
  text-align: center;
}

.nave{
  color: black;
  height: 10%;
  display: flex;
}

.color{
  background-color: aqua;
  border: 1px solid black;
}